.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Full viewport height */
  background-color: #f4f4f4; /* Background color for the entire page */
  padding: 20px;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px; /* Optional: Set a max width */
  width: 100%; /* Ensure it takes the full width */
  text-align: center; /* Center text in the container */
}

body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

h2, h3 {
  color: #007BFF;
}

.dashboard-header {
  margin-bottom: 40px;
  display: flex; /* Use flexbox for the nav */
  justify-content: center; /* Center the nav items */
}

.dashboard-content {
  margin-top: 20px;
}

.dashboard-button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  text-decoration: none;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.dashboard-button:hover {
  background-color: #0056b3;
}

.manga-list-container {
  display: grid; /* Use grid layout */
  grid-template-columns: repeat(2, 1fr); /* Create two equal columns */
  gap: 20px; /* Space between cards */
  padding: 20px; /* Optional: padding around the container */
}